@import url(animations.css);

:root{
    --primary-color: #2bb6ec;
    --hero-gradient: linear-gradient(90deg, rgba(12, 177, 242, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(240, 219, 31, 1) 100%);
    --primary-background: #0cb1f2;

    --button-color:burlywood;

    --min-card-size: 150px;
    --menu-width: calc((var(--min-card-size)* 8)+22vw);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

header {
    background: var(--primary-background);
    background: var(--hero-gradient);
    width: 100vw;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.4% 12vh;
}

.navbar__logo {
    width: fit-content;
    font-size: 2rem;
}

.navbar__pc {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: fit-content;
    font-size: 1.8rem;
}

.navbar__links {
    color: antiquewhite;
    text-decoration: none;
}

.CTA {
    background-color: var(--button-color);
    padding: 1.2rem 2.4rem;
    border-radius: 25px 0pc;
    font-size: 1.3em;
    text-decoration: none;

}
/* ---------------------------------------------------- */

/* HERO SECTION */
.hero {
    height: 85svh;
    overflow: hidden;
}

.hero__pic {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    transform-origin: center;

    opacity: 0;
    animation: hero-slide_up 400ms ease-out 100ms 1 forwards;
    width: clamp(300px, 70%, 30rem);
}
 
.hero__pic img {
    width: 100%;
    height: auto;
}

.hero__text h1 {
    position: absolute;
    bottom: 30%;
    left: 15%;
    z-index: 6;
    
    font-size: 7em;
    transform: translate(0, 200%);
    
    writing-mode: vertical-rl;
    text-orientation: upright;

    opacity: 0;
    animation: slide_right 300ms ease-out 300ms 1 forwards;
}
/* ------------------------------------------------ */

/* CARD CAROSEL */
.menu {
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
}

.menu__title {
    font-size: 6rem;
    transition: 0.1s;
}.menu__title:hover {
    scale: 1.03;
    transform: translateY(-3px);
}

.gallery {
    padding: 3rem 0em;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 88vw;
    /* overflow: scroll; */
}

.card {
    background-color: #0cb1f2;
    aspect-ratio: 3/4;
    min-width: var(--min-card-size);
    max-width: calc(88vw/8);
    overflow: hidden;

    transition: 0.2s;
    filter: brightness(0.05);
}

.card img {
    max-height: 100%;
    min-width: 100%;
    aspect-ratio: 3/4;
}


.menu__btn {
    background-color: burlywood;
    padding: 1.4em 2.2em;
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-self: center;
    border-radius: 25px 0px;
}
/* ------------------------------------------- */

/* CONTACT */
.contact {
    height: 80svh;
    background-color: var(--primary-background);
}
/* -------------------------------------------- */


/* FOOTER */
footer {
    background-color: #0cb1f2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding: 5px 15%;
}

.copyright, .psyzane {
    font-size: 1.6em;
}

/* MENU media query */
@media screen and (min-width: 770px) {
    .card:hover {
        filter: brightness(1);
        transform: translateZ(200px);
    }
    .card:hover + *{
        filter: brightness(0.8);
        transform: translateZ(150px) rotateY(30deg);
    }
    .card:hover + * + *{
        filter: brightness(0.6);
        transform: translateZ(100px) rotateY(20deg);
    }
    .card:hover + * + * + *{
        filter: brightness(0.4);
        transform: translateZ(50px) rotateY(10deg);
    }
    .card:has(+ *:hover){
        filter: brightness(0.8);
        transform: translateZ(150px) rotateY(-30deg);
    }
    .card:has(+ * + *:hover){
        filter: brightness(0.6);
        transform: translateZ(100px) rotateY(-20deg);
    }
    .card:has(+ * + * + *:hover){
        filter: brightness(0.4);
        transform: translateZ(50px) rotateY(-10deg);
    }
}

/* Mobile media query */
@media screen and (max-width: 770px) {
    .navbar {
        display: block;
        margin-left: 10%;
    }
    .navbar__links {
        display: none;
    }

    .hero__text h1{
        font-size: 5em;
        padding-top: 3rem;
        padding-left: 1.8rem;
    }

    .copyright {
        margin-left: 5%;
    }
    .psyzane {
        margin-right: 5%;
    }
}